flask
google-generativeai
requests
pandas
sqlalchemy
unidecode
numpy
matplotlib
requests
beautifulsoup4
lxml
pymysql
python-dotenv
Flask
gunicorn
google-generativeai
cloud-sql-python-connector[pymysql] 
